html {
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}

body {
    background: #f5f7fa;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    min-height: 100vh;
    padding 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    background: #F8F8F8;
    border-radius: 16px;
    max-width: 624px;
    width: 100%;
    padding: 24px;
}

.person {
    display: flex;
    align-items: flex-start;
    display:grid;
    grid-template-columns: 30% 1fr;
    grid-column-gap: 8px;
}

.person__img {
    margin:0 auto;
    width: 200%;
    max-width: 164px;
}

.person__name {
    margin: 0 0;
    font-size: 36px;
    font-weight: normal;
}

.person__position {
    color: #545454;
    font-style: italic;
    font-size: 18px;
}

.person__header {
    margin-bottom: 32px;
    font-size: 36px;
}

.person__description {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 5;
    
}

.person__special {
    color: #ED6D05;
    font-weight: normal;
}

.person__link--fb {
    /*color: #E20613;
    text-decoration: none;*/
    width: 55px;
    height: 55px;
}

.person__link--github {
    width: 45px;
    height: 45px;
}

.person__link--mail {
    width: 45px;
    height: 45px;
}

.person__contact {
    margin: 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

@media (max-width: 550px) {
    .person {
        grid-template-columns: 1fr;
    }
    /*body {
        background: #dae5e8;
    }*/
}